extends layout

block content
    h1= title
    
    .container
        hr
        p.fw-bold Verantwortlich für den Inhalt:
        p <strong> Tim Ciroth </strong> <br> Wolbecker Str 67 <br> 48155 Münster <br> Telefon: 01234 567890 <br> E-Mail: timciroth@uni-muenster.de
        p <strong> Michael Brüggemann </strong> <br> Konradstr. 7 <br> 48145 Münster <br> Telefon: 09876 543210 <br> E-Mail: m.brue@uni-muenster.de
    
    .container 
        hr
        p <strong> Entstehung </strong> <br>Diese Website wurde im September 2023 fertiggestellt <br> Dies geschah im Rahmen des Moduls "Geosoftware I" <br> Verantwortlich für den Kurs ist Prof. Dr. Benjamin Risse <br> Begleitet wird der Kurs von Dr. Dominik Drees <br><br> <strong>Die Einrichtung des Kurses: </strong><br> Westfälische Wilhelms-Universität Münster <br> Fachbereich 14 Geowissenschaften <br> Institut für Geoinformatik <br> Heisenbergstr. 2 <br> 48149 Münster
    .container
        hr
        p Theoretisch würden hier Links zu Datenschutzerklärung und Nutzungsbedingungen auftauchen, sowie die zuständige Aufsichtsbehörde, Haftungshinweise und die Umsatz-Steuer-ID-Nummer 
        p Da diese Website jedoch nicht wirklich veröffentlicht wird, werden diese Formalien bewusst weggelassen.