doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title= title
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/stylesheets/style.css')
    
    // Bootstrap CSS
    link(rel='stylesheet' href="https://unpkg.com/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous")

    // JQuery
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous' defer)
    // Popper
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous' defer)
    // Bootstrap
    script(src="https://unpkg.com/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous" defer)

    block scripts
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      button.navbar-toggler.mx-auto(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.justify-content-center
        ul.navbar-nav.text-center
          li.nav-item
            a.nav-link(href='/stationsverwaltung') Stationsverwaltung
          li.nav-item
            a.nav-link(href='/tourverwaltung') Tourverwaltung
          li.nav-item
            a.nav-link(href='/impressum') Impressum
    block content
    div(class="container-fluid")
      footer(id="footer" class="py-2 my-2")
        p(class="text-center text-muted") © 2023 Tim Ciroth, Michael Brüggemann, <a href='/impressum'>Impressum</a>, <a href='/bee' style="text-decoration:none">🐝</a>
