extends layout

block scripts


  // leaflet-CSS 
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css'  integrity='sha384-sHL9NAb7lN7rfvG5lfHpm643Xkcjzp4jFvuavGOndn6pjVqS6ny56CAt3nsEVT4H' crossorigin='anonymous')
  // Leaflet-Draw-CSS  
  link(rel='stylesheet' href='https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw-src.css' integrity='sha384-quNM/f53oDRhXgM7ssHUgW3xiBudB1t+xgO5LsfeIzK/kfBmxRxsYWBPq9WgTx8C' crossorigin='anonymous')
  // external scripts
  // Leaflet
  script(src='https://unpkg.com/leaflet@1.9.4/dist/leaflet.js' integrity='sha384-cxOPjt7s7Iz04uaHJceBmS+qpjv2JkIHNVcuOrM+YHwZOmJGBXI00mdUXEq65HTH' crossorigin='anonymous' defer)
  // Leaflet-Draw
  script(src='https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw-src.js' integrity='sha384-MA1IhQ/VEJVbmWe+tykQsf7opyy3/bI+tzAEk/+xAzS9qvSad+SPEkJ1+p7RRD2a' crossorigin='anonymous' defer)
  // Leaflet-SubGroups
  script(src='https://unpkg.com/leaflet.featuregroup.subgroup@1.0.1/dist/leaflet.featuregroup.subgroup-src.js' integrity='sha384-jbTL/zsueVL4bMZERISP/PzASzooTdHjfAEmvij+Xmj5m41EDGfE4Ym9gT6Hvho1' crossorigin='anonymous' defer)

  // internal scripts
  script(type="module" src='/javascripts/stations.js' defer)
  

  

block content
  h1= title
  // unfortunately, Bootstrap 5 doesn't support justified text anymore *sigh*
  p Auf dieser Seite kannst du die aktuell geladenen Stationen ansehen, diese anpassen oder neue Stationen ergänzen. Hierzu kannst du einen der Button unten auswählen, um eine Station hinzuzufügen.
  hr
  .container-fluid 
    .row 
        .col-sm-12.col-md-8
            #station_map
        .col-sm-12.col-md-4.align-self-center
          hr.d-md-none
          div#add_station_button_area.container
            p.fw-bold.text-center Wie möchtest du deine Station hinzufügen:
            .row.justify-content-center.p-2
              button#open_map_form.btn.btn-primary(type="button" style="width:auto") über die Karte
            .row.justify-content-center.p-2
              button#open_geojson_textarea_form.btn.btn-primary(type="button" style="width:auto") über ein Textfeld
            .row.justify-content-center.p-2
              button#open_geojson_upload_form.btn.btn-primary(type="button" style="width:auto") über einen Dateiupload

          form#map_form.container.needs-validation(style="display:none" novalidate)
            h3 Über Karte einfügen
            p.note(align="right")
              span(style='color: red;') *
              |  Pflichtfeld
            p Hier musst du über die Karte den Ort deiner Station auswählen. Die Daten zu deiner Station gibst du dann über die untenstehenden Eingabefelder an. 
            p Beachte, wenn du unter "URL" einen Link zu einer Wikipedia Seite angibts, wird deine Beschreibung durch den ersten Satz der Wikipedia Seite ersetzt.
            .form-group.m-1
              label.required.fw-bold(for='input_name') Name
              input#input_name.form-control(type='text' name="input_name" placeholder='Name eingeben' required)
              #invalid_feedback_name.invalid-feedback Bitte gib einen Stationsnamen an.
            .form-group.m-1
              label.required.fw-bold(for='input_description') Beschreibung
              input#input_description.form-control(type='text' name="input_description" placeholder='Beschreibung eingeben' required)
              #invalid_feedback_description.invalid-feedback Bitte gib eine Beschreibung der Station an.
            .form-group.m-1
              label.fw-bold(for='input_url') URL
              input#input_url.form-control(type='text' name="input_url" placeholder='URL eingeben')
              #invalid_feedback_url.invalid-feedback Bitte gib eine URL im korrekten Format an (https://"domainName"."domain").
            .form-group
              // Falls dieses Feld fehlt, hinweis an User, dass eine Station ausgewählt werden muss.
              textarea#hidden_geojson_data_from_map_feature.form-control(style="display:none" name="hidden_geojson_data_from_map_feature" required)
              .invalid-feedback Bitte wähle einen Standort über die Karte aus.
            hr
            .row.justify-content-center
              button#submit_map_form.btn.btn-primary.m-1(type='button' style="width:auto") Daten absenden
              button#cancel_map_form.btn.btn-primary.m-1(type='button' style="width:auto") Abbrechen

          form#geojson_textarea_form.container.needs-validation(style="display:none" novalidate)
            .row.justify-content-center
              h3 Über Textfeld einfügen
              p Hier kannst du eine Station erstellen, indem du eine GeoJSON mit allen nötigen Daten in das Textfeld einträgst. Bei Problemen, schau dir gerne das Beispiel an. 
              p Beachte, wenn du unter "url" einen Link zu einer Wikipedia Seite angibts, wird deine Beschreibung durch den ersten Satz der Wikipedia Seite ersetzt.
              button#show_sample_geojson.btn.btn-secondary.m-3(type='button') Beispiel
            .row.justify-content-center
              .form-group 
                label.fw-bold(for="textarea_geoJSON") GeoJSON eingeben
                textarea#textarea_geoJSON.form-control(cols="30" rows="10" style='resize:none' name="textarea_geoJSON" placeholder='Gib hier die Stationsdaten vollständig im GeoJSON-Format an.')
                #invalid_feedback_geojson.invalid-feedback 
            hr
            .row.justify-content-center
              button#submit_geojson_textarea_form.btn.btn-primary.m-1(type='button' style="width:auto") Daten absenden
              button#cancel_geojson_textarea_form.btn.btn-primary.m-1(type='button' style="width:auto") Abbrechen

          form#geojson_upload_form.container.needs-validation(style="display:none" novalidate)
            .row.justify-content-center
              h3 Über Datei-Upload einfügen
              p Hier kannst du eine Station erstellen, indem du eine GeoJSON-Datei hochlädst. Bitte beachte, dass deine Datei die folgende Struktur erfüllt: 
            .row.justify-content-center
              textarea#sample_geojson.m-3(cols="30" rows="15" style='resize:none' readonly)
              p Beachte, wenn du unter "url" einen Link zu einer Wikipedia Seite angibts, wird deine Beschreibung durch den ersten Satz der Wikipedia Seite ersetzt.
            .row.justify-content-center
              .form-group
                label.fw-bold(for='file_upload_geoJSON') GeoJSON-Datei hochladen
                input#file_upload_geoJSON.form-control(type='file' accept="application/JSON, .json")
                #invalid_feedback_fileupload_geojson.invalid-feedback 
                textarea#hidden_geojson_data_from_upload.form-control(style="display:none" name="hidden_geojson_data_from_from_upload")
            hr
            .row.justify-content-center
              button#submit_geojson_upload_form.btn.btn-primary.m-1(type='button' style="width:auto") Daten absenden
              button#cancel_geojson_upload_form.btn.btn-primary.m-1(type='button' style="width:auto") Abbrechen

  hr
  .container
    .table-responsive
      table#station_table.table.table-striped.table-hover
        thead
          tr
            th(scope="col") Name
            th(style="text-align:center" scope="col" colspan="2") Aktionen
        tbody
  
  #edit_station_popup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-fullscreen-sm-down.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5.modal-title Station bearbeiten
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body(align="center")
          form#update_station_form.container.needs-validation(novalidate)
            .row.justify-content-center
              .form-group 
                .row
                  label.fw-bold(for="update_stationGeoJSON") GeoJSON bearbeiten
                .row
                  textarea#update_stationGeoJSON(rows='25' style='resize:none width:100%')
                #invalid_feedback_update_geojson.invalid-feedback
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Schließen
          button#update_station.btn.btn-primary(type="button") Aktualisieren

  #sample_geojson_popup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-fullscreen-sm-down.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5.modal-title Beispiel-GeoJSON
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body(align="center")
          .row
            textarea#sample_geojson_textarea(rows='15' style='resize:none width:100%' readonly)
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Schließen

  #station_deletion_popup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-fullscreen-sm-down.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5.modal-title Warnung
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body(align="center")
          #warning_message
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Abbrechen
          button#delete_station_and_tours.btn.btn-secondary(type='button') Station und Touren löschen
