extends layout

block scripts


  // leaflet-CSS 
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css'  integrity='sha384-sHL9NAb7lN7rfvG5lfHpm643Xkcjzp4jFvuavGOndn6pjVqS6ny56CAt3nsEVT4H' crossorigin='anonymous')
  // Leaflet-Draw-CSS  
  link(rel='stylesheet' href='https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw-src.css' integrity='sha384-quNM/f53oDRhXgM7ssHUgW3xiBudB1t+xgO5LsfeIzK/kfBmxRxsYWBPq9WgTx8C' crossorigin='anonymous')
  // external scripts
  // Leaflet
  script(src='https://unpkg.com/leaflet@1.9.4/dist/leaflet.js' integrity='sha384-cxOPjt7s7Iz04uaHJceBmS+qpjv2JkIHNVcuOrM+YHwZOmJGBXI00mdUXEq65HTH' crossorigin='anonymous' defer)
  // Leaflet-Draw
  script(src='https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw-src.js' integrity='sha384-MA1IhQ/VEJVbmWe+tykQsf7opyy3/bI+tzAEk/+xAzS9qvSad+SPEkJ1+p7RRD2a' crossorigin='anonymous' defer)
  // Leaflet-SubGroups
  script(src='https://unpkg.com/leaflet.featuregroup.subgroup@1.0.1/dist/leaflet.featuregroup.subgroup-src.js' integrity='sha384-jbTL/zsueVL4bMZERISP/PzASzooTdHjfAEmvij+Xmj5m41EDGfE4Ym9gT6Hvho1' crossorigin='anonymous' defer)

  // internal scripts
  script(type="module" src='/javascripts/stations.js' defer)
  

  

block content
  h1= title
  p Auf dieser Seite kannst du die aktuell geladenen Stationen ansehen, diese anpassen oder neue Stationen ergänzen. Hierzu kannst du einen der Button unten auswählen, um eine Station hinzuzufügen.

  .container-fluid 
    hr.hr
    .row.justify-content-center 
      h2 Station hinzufügen
    hr.hr
    .row 
        .col-sm-12.col-md-8
            #map1
        .col-sm-12.col-md-4
          div#add_station_button_area
            p.font-weight-bold Wie möchtest du deine Station hinzufügen:
            .row.justify-content-center.p-3
              button#open_map_form.btn.btn-primary(type="button") über Karte
            .row.justify-content-center.p-3
              button#open_geojson_textarea_form.btn.btn-primary(type="button") über Textfeld
            .row.justify-content-center.p-3
              button#open_geojson_upload_form.btn.btn-primary(type="button") über Dateipload

          form#map_form(style="display:none")
            p.note(align="right")
              span(style='color: red;') *
              |  Pflichtfeld
            h3 Stationsmetadaten
            p Hier musst du über die Karte den Ort deiner Station auswählen. Die Daten zu deiner Station gibts du dann über die untenstehenden Eingabefelder an.
            .form-group
              label.required.font-weight-bold(for='exampleInputEmail1') Name
              input#input_name.form-control(type='text' name="input_name" placeholder='Name eingeben' required)
            .form-group
              label.required.font-weight-bold(for='input_description') Beschreibung
              input#input_description.form-control(type='text' name="input_description" placeholder='Beschreibung eingeben' required)
            .form-group
              label.font-weight-bold(for='input_url') URL
              input#input_url.form-control(type='url' name="input_url" placeholder='URL eingeben')
            .form-group(style="display:none")
              // Falls dieses Feld fehlt, hinweis an User, dass eine Station ausgewählt werden muss.
              textarea#hidden_geojson_data_from_map_feature(style="display:none" name="hidden_geojson_data_from_map_feature" required)
            hr.hr
            .row.justify-content-center
              button#submit_map_form.btn.btn-primary.m-1(type='button') Daten absenden
              button#cancel_map_form.btn.btn-primary.m-1(type='button') Abbrechen

          form#geojson_textarea_form(style="display:none")
            .row.justify-content-center
              h3 Stations-GeoJSON
              p Hier kannst du eine Station erstellen, indem du eine GeoJSON mit allen nötigen Daten in das Textfeld einträgst. Bei Problemen, schau dir gerne das Beispiel an.
              button#show_sample_geojson.btn.btn-secondary.m-3(type='button') Beispiel
            .row.justify-content-center
              .form-group 
                label.font-weight-bold(for="textarea_geoJSON") GeoJSON eingeben
                textarea#textarea_geoJSON.form-control(cols="30" rows="10" style='resize:none' name="textarea_geoJSON" placeholder='Gib hier die Stationsdaten vollständig im GeoJSON-Format an.' required)
            hr.hr
            .row.justify-content-center
              button#submit_geojson_textarea_form.btn.btn-primary.m-1(type='button') Daten absenden
              button#cancel_geojson_textarea_form.btn.btn-primary.m-1(type='button') Abbrechen

          form#geojson_upload_form(style="display:none")
            .row.justify-content-center
              h3 Stations-GeoJSON
              p Hier kannst du eine Station erstellen, indem du eine GeoJSON-Datei hochlädst. Bitte beachte, dass deine Datei die folgende Struktur erfüllt: 
            .row.justify-content-center
              textarea#sample_geojson.m-3(cols="30" rows="10" style='resize:none' readonly)
            .row.justify-content-center
              .form-group
                label.font-weight-bold(for='file_upload_geoJSON') GeoJSON-Datei hochladen
                input#file_upload_geoJSON.form-control-file(type='file' accept="application/JSON, .json")
                textarea#hidden_geojson_data_from_upload(style="display:none" name="hidden_geojson_data_from_from_upload" required)
            hr.hr
            .row.justify-content-center
              button#submit_geojson_upload_form.btn.btn-primary.m-1(type='button') Daten absenden
              button#cancel_geojson_upload_form.btn.btn-primary.m-1(type='button') Abbrechen


          //- form#station_upload_form(style="display:none")
          //-   p.note(align="right")
          //-     span(style='color: red;') *
          //-     |  Pflichtfeld
          //-   h3 Stationsmetadaten
          //-   .form-group
          //-     label.required.font-weight-bold(for='exampleInputEmail1') Name
          //-     input#input_name.form-control(type='text' name="input_name" placeholder='Name eingeben' required)
          //-   .form-group
          //-     label.required.font-weight-bold(for='input_description') Beschreibung
          //-     input#input_description.form-control(type='text' name="input_description" placeholder='Beschreibung eingeben' required)
          //-   .form-group
          //-     label.font-weight-bold(for='input_url') URL
          //-     input#input_url.form-control(type='url' name="input_url" placeholder='URL eingeben')
          //-   hr.hr
          //-   h3.required Stations-GeoJSON
          //-   .form-group 
          //-     label.font-weight-bold(for="textarea_geoJSON") GeoJSON eingeben
          //-     textarea#textarea_geoJSON.form-control(cols="30" rows="10" style='resize:none' name="textarea_geoJSON" placeholder='Gib hier die Stationsdaten im GeoJSON-Format an.' required)
          //-   .form-group 
          //-     p.text-center.text-weight-light
          //-       u oder
          //-   .form-group
          //-     label.font-weight-bold(for='file_upload_geoJSON') GeoJSON-Datei hochladen
          //-     // This field doesn't have the attribute "name" as it's not supposed to be send with the form.
          //-     input#file_upload_geoJSON.form-control-file(type='file' accept="application/JSON, .json")
          //-   hr.hr
          //-   button#submit_station.btn.btn-primary(type='button') Daten absenden

  hr.hr
  .container-fluid
    table(style="width:100%")#station_table.table.table-striped.table-hover
      thead(style="width:100%")
        tr
          th(scope="col") Name
          th(style="text-align:center" scope="col") Aktionen
      tbody
  
  #edit_station_popup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5.modal-title Station bearbeiten
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body(align="center")
          textarea#update_stationGeoJSON(rows='25' cols='45' style='resize:none')
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Schließen
          button#update_station.btn.btn-primary(type="button" data-dismiss='modal') Aktualisieren