extends layout


block scripts
  script(src='/javascripts/stations.js' defer='')
block content
  h1= title
  p Auf dieser Seite kannst du die aktuell geladenen Stationen ansehen, diese anpassen oder neue Stationen ergänzen.