extends layout

block scripts

    // leaflet-CSS
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css' integrity='sha384-sHL9NAb7lN7rfvG5lfHpm643Xkcjzp4jFvuavGOndn6pjVqS6ny56CAt3nsEVT4H' crossorigin='anonymous')
    // external scripts
    // Leaflet
    script(src='https://unpkg.com/leaflet@1.9.4/dist/leaflet.js' integrity='sha384-cxOPjt7s7Iz04uaHJceBmS+qpjv2JkIHNVcuOrM+YHwZOmJGBXI00mdUXEq65HTH' crossorigin='anonymous' defer)
    // internal scripts
    script(type="module" src='/javascripts/tours.js' defer)

block content
    // unfortunately, Bootstrap 5 doesn't support justified text anymore *sigh*
    h1= title
    p Auf dieser Seite können Sie durch einen Klick auf "neue Tour anlegen" die aktuell geladenen Stationen ansehen und diese zu Touren verknüpfen. Anschließend können die erstellten Touren tabellarisch verwaltet werden. Die Touren werden mittels der "Graphhopper-API" erstellt.
    hr
    .container-fluid 
        .row 
            .col-sm-12.col-md-8
                #tour_map
            .col-sm-12.col-md-4
                .container-fluid#station_div(style="display: none")
                    p Bitte wählen Sie auf der Karte alle Stationen aus, die Sie in der Tour verbinden wollen.
                    form#tour_name_form.container.needs-validation(novalidate)
                        .form-group
                            label.fw-bold(for='tourname') Tourname:
                            input#tour_name.form-control(type='tourname' aria-describedby='tour_name_help' placeholder='Hier Tournamen einfügen' required)
                            small#tour_name_help.form-text.text-muted Pflichtfeld, keine Sonderzeichen

                    .table-responsive
                        table(width="100%")#selected_station_table
                            thead
                                th ausgewählte Stationen:
                            tbody
                    .row.m-1
                        button#calculate_tour(type="button") Tour berechnen
                    .row.m-1
                        button#cancel(type='button') Abbrechen

                hr.d-md-none
                .container#new_tour_button_div(style="display:block")
                    .row.justify-content-center
                        button#new_tour(type="button") neue Tour anlegen
    
    .container-fluid(style="display: block")#tour_div
        hr
        .table-responsive
            table(width="100%")#tour_table.table.table-striped.table-hover
                thead
                    th(scope="col") Name
                    th(style="text-align:center" scope="col") Aktionen
                tbody 
    #tour_information_popup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-lg.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Tour-Informationen
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body(align="left")
                    #info_text
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Schließen
    
    #routing_error_popup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Route konnte nicht berechnet werden
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body(align="center")
                    #error_statement
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Schließen
    
    #station_selection_help.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Stationsauswahl - Hilfe
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body(align="center")
                    #help_text
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Schließen