extends layout

block scripts

    // leaflet-CSS
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css' integrity='sha384-sHL9NAb7lN7rfvG5lfHpm643Xkcjzp4jFvuavGOndn6pjVqS6ny56CAt3nsEVT4H' crossorigin='anonymous')
    // external scripts
    // Leaflet
    script(src='https://unpkg.com/leaflet@1.9.4/dist/leaflet.js' integrity='sha384-cxOPjt7s7Iz04uaHJceBmS+qpjv2JkIHNVcuOrM+YHwZOmJGBXI00mdUXEq65HTH' crossorigin='anonymous' defer)
    // internal scripts
    script(type="module" src='/javascripts/tours.js' defer)

block content
    // unfortunately, Bootstrap 5 doesn't support justified text anymore *sigh*
    h1= title
    p Auf dieser Seite kannst du durch einen Klick auf "neue Tour anlegen" die aktuell geladenen Stationen ansehen und diese zu Touren verknüpfen. Anschließend können die erstellten Touren tabellarisch verwaltet werden. 
    hr
    .container-fluid 
        .row 
            .col-sm-12.col-md-8
                #tour_map
            .col-sm-12.col-md-4.align-self-center
                hr.d-md-none
                .container-fluid#station_div(style="display: none")
                    h2 Tour zusammenstellen
                    p.note(align="right")
                        span(style='color: red;') *
                        |  Pflichtfeld
                    p Bitte wähle auf der Karte alle Stationen aus, die du in der Tour verbinden willst.
                    form#tour_name_form.container.needs-validation(novalidate onsubmit='return false;')
                        
                        .form-group
                            label.required.fw-bold(for='tourname') Tourname:
                            input#tour_name.form-control(type='tourname' aria-describedby='tour_name_help' placeholder='Hier Tournamen einfügen')
                            
                    .container
                        .table-responsive
                            table(width="100%")#selected_station_table
                                thead
                                    th ausgewählte Stationen:
                                tbody
                        hr
                        .row.m-1.justify-content-center
                            button#calculate_tour(type="button" style="width:auto") Tour berechnen
                        .row.m-1.justify-content-center
                            button#cancel(type='button' style="width:auto") Abbrechen
                .container#new_tour_button_div(style="display:block")
                    .row.justify-content-center
                        button#new_tour(type="button" style="width:auto") neue Tour anlegen
    
    .container-fluid(style="display: block")#tour_div
        hr
        .table-responsive
            table(width="100%")#tour_table.table.table-striped.table-hover
                thead
                    th(scope="col") Name
                    th(style="text-align:center" colspan="3" scope="col") Aktionen
                tbody 
    #tour_information_popup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-lg.modal-fullscreen-sm-down.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h2.modal-title Tour-Informationen
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .container
                        .row
                            p.fw-bold.mb-0 Stationen dieser Tour:
                            #station_text
                        hr
                        .row
                            p.fw-bold.mb-0 Anleitung zur Tour:
                            .container.border.border.rounded.m-1
                                p.m-1.text-muted Diese Instruktionen kommen direkt von GRAPHHOPPER und sind somit leider nur auf englisch verfügbar.
                            #instruction_text 
                        hr
                        .row 
                            #distance_text
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Schließen
    
    #routing_error_popup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Route konnte nicht berechnet werden
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body(align="center")
                    #error_statement
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Schließen
    
    #station_selection_help.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Stationsauswahl - Hilfe
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body(align="center")
                    #help_text
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Schließen