body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#tour_map { height: 600px; }

#station_map { height: 900px }

.required:after {
  content:"*";
  color: red;
}

.note {
  font-size: 0.8em;
  color: gray;
}

